# Exclude Compiled folders
out/
dist/

#Exclude Data Folder
data/

# Exclude IDE settings (IntelliJ)
.idea/
*.iml

# Exclude OS-specific files
.DS_Store
Thumbs.db

# Exclude Large ZIP and Backup files
*.zip
data/*.bak

# Exclude documentation files
docs/
project_analysis.md
project_status.md